    　 <div class="col-sm-4">
      　　　　　<div class="panel panel-default">
       <div class="panel-heading">不足余剰品リスト登録フォーム</div>
      <div class="panel-body"> (すべて入力必須）<br>サイズがわからない場合はなしと入力してください</div>
    　 <% @supplyinfo = SupplyInfo.new unless @supplyinfo %>
       <% if @supplyinfo.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@supplyinfo.errors.count, "エラーが見つかりました") %>.
            </div>
            <ul>
            <% @supplyinfo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
         <%= form_for(@supplyinfo) do |f| %>
         
       <table class="table table-bordered">
　  	<tbody>
		<tr>
			<th class="active"><%= f.label :shs_name, "物資名" %></th>
			<td colspan="2"><%= f.text_field :shs_name, class:"form-control", placeholder: "シャツ" %></td>
		</tr>
        <tr>
            <th rowspan="2" class="active">希望物資</th>
            <td class="active">種目</td>
            <td class="active">サイズ</td>
        </tr>
        <tr>
            <td><%= f.select :shs_sizeEvent, {"なし" => "なし" , "大人" => "大人" ,"大人男" => "大人男" , "大人女" => "大人女"  , "子供" => "子供","子供女" => "子供女","子供男" => "子供男","赤ちゃん" => "赤ちゃん","赤ちゃん男" => "赤ちゃん男","赤ちゃん女" => "赤ちゃん女"} %></td>
            <td><%= f.text_field :shs_goodsSize, class:"form-control", placeholder: "半角英数字" %></td>
        </tr>
        <tr>
            <th class="active">＼</th>
            <td class="active">段ボール数</td>
            <td class="active">単数</td>
        </tr>
        
        <tr>
            <th class="active">不足品</th>
            <td><%= f.text_field :shs_Lackofgdsdbox, class:"form-control" , placeholder: "半角英数字"%></td>
            <td><%= f.text_field :shs_Lackofgds, class:"form-control" , placeholder: "半角英数字" %></td>
        </tr>
        <tr>
            <th class="active">余剰品</th>
            <td><%= f.text_field :shs_Surplusitemdbox, class:"form-control" , placeholder: "半角英数字" %></td>
            <td><%= f.text_field :shs_Surplusitem, class:"form-control" , placeholder: "半角英数字" %></td>
        </tr>
		<tr>
			<th class="active">備考</th>
		    <td colspan="2"> <%= f.text_field :shs_note, class: "form-control", placeholder: "何らかの追記事項をがあればご記入ください。" %></td>
        </tr>
    	</tbody>
      </table>
     <div class="text-center">
    <%= f.submit "新規登録 ", class: "btn btn-large btn-primary"%>
  </div>
  <% end %>
  </div>
</div>
</div>
</div>