<div class="row">
    <div class="col-sm-8">
      <div class="panel panel-success">
      <div class="panel-heading">支援物資配信情報一覧</div>
          <div class="panel-body">
            <h4>サイトのお願い</h4>デマを流したり、いたずら目的の投稿配信、避難者へご迷惑になるような行為は絶対やめて下さい。<br>
          現在、各地に寄せらせた支援物資の不足品と余剰品に関する情報が搭載されてます
          <br>
              <table class="table table-bordered">
            <tr class="active">
              	<th rowspan="2">配信番号</th>
                	<th rowspan="2">配信日時</th>
            			<th rowspan="2">依頼者名</th>
            			<th colspan="2">依頼先</th>
            			<th rowspan="2">物資詳細</th>
	　　　　　	</tr>
        		<tr class="active">
        			<th>都道府県</th>
        			<th>市区町村</th>
        		</tr>
              <% @supplyinfos.each do |supply_info| %>
                <% if supply_info.delivery.present? %>
                <td><%= supply_info.delivery.id  %></td>
                <td><%= supply_info.shs_today  %></td>
                <td><%= supply_info.delivery.dly_name  %></td>
                <td><%= supply_info.delivery.dly_prefectures  %></td>
                <td><%= supply_info.delivery.dly_municipality %></td>
                <td><%= link_to '支援物資詳細', supply_infos_delivery_path(supply_info.delivery) %></td>
                <% end %>
              <% end %>
            </tr>
        　</table>
          </div>
        </div>
    </div> 
</div>
