<h3>users/show,html.erb</h3>
<% content_for :head do %>
  <meta property="head:title" content="<%= @user.name %>  - monolist" />
  <meta property="head:description" content="<%= @user.name %><%= @user.name %>user.want_items.count, user.have_items.count" />
<% end %>
<%= render 'profile' , user: @user %>
<%= render 'items/list' , items: @items %>
