<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>
      <ul>
      <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<div class="tables">
 <table class="table table-bordered">
	<tbody>
	  <tr>
			<th>依頼者名</th>
				<td><%= f.text_field :dly_name , class: "form-control", placeholder: "000-000" %></td>
		</tr>
		<tr>
			<th>連絡先</th>
				<td><%= f.text_field :dly_contacts, class: "form-control", placeholder: "自分の好きな連絡先" %></td>
		</tr>
			<th width="80">郵便番号</th>
			<td><%= f.text_field :dly_posnum , class: "form-control", placeholder: "000-000" %></td>
		</tr>
		<tr>
			<th>都道府県</th>
			<td><%= f.text_field :dly_prefectures, class: "form-control", placeholder: "愛知県" %></td>
		</tr>
		<tr>
			<th>市区町村</th>
				<td><%= f.text_field :dly_municipality, class: "form-control", placeholder: "豊田市" %></td>
		</tr>
		<tr>
			<th>番地以下</th>
				<td><%= f.text_field :dly_streetnum, class: "form-control", placeholder: "若宮町○○○×××00-00" %></td>
		</tr>
		<tr>
			<th>建物名</th>
			<td><%= f.text_field :dly_bill, class: "form-control", placeholder: "リリーフサポートビル2階" %></td>
		</tr>
		<tr>
			<th>備考</th>
			<td><%= f.text_area :dly_remarks , class: "form-control" , placeholder: "何か特記事項があれば記入" , :size => "100x5" %></td>
		</tr>
	</tbody>
</table>
</div>
<br>
  <div class="actions">
    <%= f.submit "お届け先個人情報登録", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
