

	<div class="col-sm-12">
		<div class="panel panel-info">
		  <div class="panel-heading">お届け先情報</div>
			  <div class="panel-body">
			    現在、あなたが設定している支援物資の届け先です。<br>
			    コメント欄にボランティア募集やあなたがいる場所の注意喚起などをする良いです。
			  <%= render 'deliveries/form' %>
			   </div>
		  </div>
	</div>

	<div class="panel panel-info">
	　<div class="panel-heading">お届け先情報の登録結果</div>
			<div class="panel-body">
			<% @deliveries.each do |delivery| %>
			<table class="table table-bordered">
				<tbody>
					</tr>
					<tr class="info">
						<th width="20">選択</th>
						<th>会員ID</th>
						<th>お届け先ID</th>
						<th>依頼者名</th>
						<th width="100">郵便番号</th>
						<th>都道府県</th>
						<th>市区町村</th>
						<th>建物名</th>
						<th>番地以下</th>
						<th>連絡先</th>
						<th>備考</th>
						<th width="50">手続き</th>
					</tr>
					<tr>
						<td></td>
						<td><%= delivery.user_id %></td>
						<td><%= delivery.id %></td>
						<td><%= delivery.dly_name %></td>
						<td><%= delivery.dly_posnum %></td>
						<td><%= delivery.dly_prefectures %></td>
						<td><%= delivery.dly_municipality %></td>
						<td><%= delivery.dly_streetnum %></td>
						<td><%= delivery.dly_bill %></td>
						<td><%= delivery.dly_contacts %></td>
						<td><%= delivery.dly_remarks %></td>
						<td> <%= link_to '変更', edit_delivery_path(delivery) %><%= link_to '削除', delivery, method: :delete, data: { confirm: '本当に削除しますか？?' } %></td>
					</tr>
					<tr>
						<% end %>
				</tbody>
			</table>
		　<% @deliveries.each do |delivery| %>
		 <div class="panel-footer"><%= link_to '新規お届け先設定', new_delivery_path %></div>
		 <% end %>
		 </div>
　　</div>
