
           <caption>お届け先個人情報</caption>
<table class="table table-bordered">
        	<tbody>
        	<tr>
			<th rowspan="2" width="10">依頼者名</th>
			<th>フリナガ</th>
			<td><%= supply_info.shs_sponsornamef %></td>
			<td rowspan="2">連絡先</td>
			<td rowspan="2"><%= supply_info.shs_sponsorname %></td>
		</tr>
		<tr>
			<th>名前</th>
			<td><%= supply_info.shs_sponsorname %></td>
		</tr>
		<tr>
			<th rowspan="4">お届け先住所</th>
			<th width="80">郵便番号</th>
			<td colspan="3"><%= supply_info.shs_posnum %></td>
		</tr>
		<tr>
			<th>都道府県</th>
			<td><%= supply_info.gs_name %></td>
			<th width="80">市区町村</th>
			<td><%= supply_info.shs_municipality %></td>
		</tr>
		<tr>
			<th>番地以下</th>
			<td colspan="3"><%= supply_info.shs_streetnum %></td>
		</tr>
		<tr>
			<th>建物名</th>
			<td colspan="3"><%= supply_info.shs_bill %></td>
		</tr>
		<tr>
			<th colspan="2">届け備考</th>
			<td><%= supply_info.shs_remarks %></td>
		</tr>
        	</tbody>
        </table>