<%= form_for(@relief) do |f| %>
<div class="col-sm-5">  
<div class="panel panel-success">
  <div class="panel-heading">物資在庫修正フォーム</div>
    <div class="panel-body">
          <%= render 'shared/error_messages', object: f.object %>
          <table class="table table-bordered" >
	<tbody>
		<tr>
			<th colspan="2" width="5" class="success">物資番号</th>
			<td><label>在庫管理のメインページで登録した順に表示されてます。</label><br>
				<%= f.text_field :id, class: "form-control input-sm", placeholder: "1" %></td>
		</tr>
		<tr>
			<th colspan="2" width="5" class="success">物資名</th>
			<td><label>（必須）登録したい物資の名前</label><br>
				<%= f.text_field :gs_name, class: "form-control input-sm", placeholder: "コーラ" %></td>
		</tr>
		<tr>
			<th rowspan="2" class="success">物資</th>
			<th class="success">種目</th>
			<td><label>服などの場合に記入</label><br>
				<%= f.select :gs_sizeEvent, {"なし" => "なし" , "大人" => "大人" ,"大人男" => "大人男" , "大人女" => "大人女"  , "子供" => "子供","子供女" => "子供女","子供男" => "子供男","赤ちゃん" => "赤ちゃん","赤ちゃん男" => "赤ちゃん男","赤ちゃん女" => "赤ちゃん女"} %></td>
		</tr>
		<tr>
			<th class="success">サイズ</th>
			<td><label>服などでサイズがある場合に記入</label><br>
				<%= f.text_field :gs_goodsSize, class: "form-control input-sm", placeholder: "S" %></td>
		</tr>
		<tr>
			<th rowspan="3" class="success">段ボール</th>
			<th class="success">重量ｇ</th>
			<td><label>段ボール１つあたりの重量</label><br>
				<%= f.text_field :gs_dbweight, class: "form-control input-sm", placeholder: "10" %></td>
		</tr>
		<tr>
			<th class="success">１箱入数</th>
			<td><label>1つの段ボールに入ってる支援物資の個数<br>（例）たばこ1ケース12個</label><br>
				<%= f.text_field :gs_dbboxcount, class: "form-control input-sm", placeholder: "10" %></td>
		</tr>
		<tr>
			<th class="success">サイズcm</th>
			<td><label>１つの段ボールあたり、縦/横/幅のサイズ</label><br>
				<%= f.text_field:gs_dbboxsize, class: "form-control input-sm", placeholder: "10/20/30" %></td>
		
		</tr>
		<tr>
			<th rowspan="2" class="success">使用期限</th>
			<th class="success">開始</th>
			<td><label>食料品等で使用期限がある場合に記入</label><br>
				<%= f.datetime_select :gs_BestbeforeStart, :use_month_numbers => true, include_blank: true, class: "form-control input-sm", placeholder: "2017/02/10㈯" %>
		</tr>
		<tr>
			<th class="success">終了</th>
			<td><%= f.datetime_select :gs_BestbeforEnd, :use_month_numbers => true, include_blank: true, class: "form-control input-sm", placeholder: "2017/02/10㈯" %>
		</tr>
		<tr>
		    <th rowspan="3" class="success">物資詳細</th>
			<th class="success">在庫数</th>
			<td><label>現在その物資が今どれだけ所持しているか</label>
				<%= f.text_field:gs_NowNum, class: "form-control input-sm", placeholder: "1234,1234,1234,1234" %></td>
		</tr>
		<tr>
			<th class="success">不足数</th>
			<td><label>現在その物資が今どれだけ不足しているか</label>
				<%= f.text_field:gs_shortages, class: "form-control input-sm", placeholder: "30" %></td>
		</tr>
			<tr>
			<th class="success">余剰数</th>
			<td><label>現在その物資が今どれだけ余ってて要らないか</label>
				<%= f.text_field:gs_ExtraParts, class: "form-control input-sm", placeholder: "30" %></td>
		</tr>
		<tr>
			<th class="success" colspan="2">備考</th>
			<td><%= text_area :goos_note, :comtent, :size => "50x5" %></td>
		</tr>
	</tbody>
</table>
 
     </div>
          <div class="panel-footer">
              <div class="text-center">
                 <%= f.submit "物資内容を更新 ", class: "btn btn-large btn-primary" %>
            </div>
            <% end %>
          </div>
         </div>
     </div>