<p id="notice"><%= notice %></p>

<p>
  <strong>Gsname:</strong>
  <%= @product.gsname %>
</p>

<p>
  <strong>Gsgoodssize:</strong>
  <%= @product.gsgoodsSize %>
</p>

<p>
  <strong>Gsgoodssize:</strong>
  <%= @product.gsgoodsSize %>
</p>

<p>
  <strong>Gsbestbeforestart:</strong>
  <%= @product.gsBestbeforeStart %>
</p>

<p>
  <strong>Gs bestbeforend:</strong>
  <%= @product.gs_BestbeforEnd %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
